<div>
    <div class="fixed bottom-0 left-1/2 transform -translate-x-1/2">
        <div class="w-screen h-16 flex justify-evenly bg-gray-50">
            <button type="button" class="relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Budgets</button>
            <button type="button" class="relative -ml-px inline-flex items-center bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Groups</button>
            <button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Profile</button>
        </div>
    </div>
</div>
<div class="h-16 bg-opacity-0"></div> <!--Spacer-->